* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: #edeeed;
  min-height: 3000px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #edeeed;
  text-decoration: none;
  font-weight: 600;
  backdrop-filter: blur(2px);
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}

.navbar {
  backdrop-filter: blur(2px);
}
.navbar a {
  font-size: 18px;
  color: #edeeed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}

.home {
  height: 100vh;
  background: #081b29;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

.home-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}

.home-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.5s;
}

.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 80%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 15px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}

.btn-box a:nth-child(2):hover {
  color: #081b29;
}

.btn-box a:nth-child(2)::before {
  background: #00abf0;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover {
  color: #00abf0;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: #081b29;
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 30px;
  width: 500px;
  height: 100%;
  background: transparent;
  transition: 0.5s;
  opacity: 0.8;
}

.home-imgHover:hover {
  background: #081b29;
}

.main-container .image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 0 50px rgb(83, 117, 117);
  margin-left: 15%;
}

.main-container .image img {
  width: 100%;
  height: 100%;
}

.main-container .image:hover {
  animation: animate 1.5s ease-in-out infinite;
}

.portofolio {
  background-color: #081b29;
}
.portofolio span,
.portofolio h2,
.portofolio p {
  font-size: 1.5rem;
  color: #ffffff;
  justify-content: center;
}

.about {
  min-height: 100vh;
  background-color: #ffffff;
}

.about h2,
.about p {
  font-size: 1.2rem;
  color: #081b29;
  margin-top: 25px;
}
.text-center h2 {
  font-size: 1.3rem;
  margin-top: 30px;
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
  color: #081b29;
}

.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 2px;
  background-color: #ccc;
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image1 {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  padding: 2rem;
  position: relative;
}

.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  right: -10px;
  top: 70px;
}

.timeline li .timeline-panel::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  right: -8px;
  top: 71px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 15px;
  left: -13px;
  right: auto;
}

footer {
  padding: 3rem;
  color: white;
  background-color: #081b29;
}

footer a {
  color: #00abf0;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

.contact {
  min-height: 100vh;
  background-color: #ffffff;
  width: 100%;
  align-content: center;
}
.container {
  width: 100%;
  background: #fff;
  border-radius: 7px;
  padding: 60px 60px 60px 60px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details i {
  font-size: 30px;
  color: #081b29;
  margin-bottom: 10px;
}
.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500px;
  color: #081b29;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two,
.content .right-side p {
  font-size: 14px;
  color: #363535;
  text-shadow: 3px 3px 5px #081b29;
}
.container .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #081b29;
}
.right-side .input-box {
  height: 100px;
  width: 100%;
  margin: 5px 0;
}
.input-box input,
.input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0px 25px;
  resize: none;
}
.right-side .message-box {
  min-height: 110%;
  margin-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #afafb6;
  cursor: pointer;
  transition: all 0.3 ease;
}
.button input[type="button"]:hover {
  background: #081b29;
}

.carousel-item {
  height: 5%;
  width: 100%;
  justify-content: center;
}

/* KEYFRAMES ANIMATION */
@keyframes animate {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

/* Media Phone */
@media (max-width: 576px) {
  html {
    font-size: 75%;
  }
  .main-container {
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
  }
  .main-container .image {
    width: 200%;
    height: 100%;
  }
}

/* Tablet */
@media (max-width: 762px) {
  html {
    font-size: 62.5%;
  }
}

/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
}

/* Extra Large */
@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50) translateY(45px);
  }
}
